/*#header-nav {
	border-radius: 0;
	border: 0;
	background-color: :#d1d1d1;
}*/
.navbar-brand h1 {
	margin-top: 0;
	margin-left: 0;
}

.navbar-header button.navbar-toggle {
	clear: both;
}

.text-center {
	font-weight: bold;
	font-size: 25px;
	padding: 20px;
}

h2 {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 0px 10px 10px 10px;
}

.container-fluid {
	text-align: center;
	background-color: #edf3ff;
	padding: 5px 25px 25px 25px;
	margin: 20px;

}

#nav-list a {
  background-color: #edf3ff;
  font-weight: bold;
  text-align: center;
}

/* Large devices */
@media (min-width: 1200px) {
#nav-list {
	visibility: hidden;
}
}

/* Medium devices */
@media (min-width: 992px) and (max-width: 1199px) {
#nav-list {
	visibility: hidden;
}
}

/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
#nav-list {
	visibility: hidden;
}
}

/* Extra small devices */

@media (max-width: 767px) {
	.navbar-brand {
		padding: 10px;
	}
	.navbar-brand h1 {
		font-size: 5vw;
	}
}